# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# directory
.idea
out
/src/vendor/easyexif
.vs

Folder.DotSettings.user
src/Cmark/sources/pictures/Canon/test.jpg
src/Cmark/sources/pictures/Nikon/DSC_1218.JPG
src/Cmark/sources/pictures/Nikon/DSC_1222.JPG
src/Cmark/sources/pictures/Nikon/DSC_1225.JPG
