# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# directory
.idea/
out/
.vs/
.vscode/
src/Cmark/sources/pictures/
/src/vendor/easyexif
src/Cmark/sources/pictures/

# Reshaper
Folder.DotSettings.user

# Qt build dir
build-sceneLayout*

# Cmake user file
src/vendor/sceneLayout/CMakeLists.txt.user
src/vendor/build-batchImageProcessSetting-Desktop_Qt_5_15_2_MinGW_64_bit-Debug
sources/test
